html, body {
  margin: 0;
  font-family: "Open Sans";
}

h1 {
  font-size: 5vw;
  font-weight: bold;
  /* color: #fff; */
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.5vw;
  /* color: #fff; */
  margin: 0;
  padding: 0;
}


.titre{
  margin: 0px auto ;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.sectionText {
  font-size: 1em;
  display: flexbox;
  align-content: center;
  flex-direction: column;
  vertical-align: middle;
}
.sectionText p{
  padding-left: 9em;
  padding-right: 9em;
}

.section:nth-child(1), #responsiveMenu li:nth-child(1){
  background-color: #f38181;
}
.section:nth-child(2), #responsiveMenu li:nth-child(2){
  background-color: #fce38a;
}
.section:nth-child(3), #responsiveMenu li:nth-child(3){
  background-color:#eaffd0;
}
.section:nth-child(4), #responsiveMenu li:nth-child(4){
  background-color: #95e1d3;
}


#header{
  position: fixed;
}
#header ul{
  width: 100vw;
  padding: 0;
}
#menu{
  display:flex;
  justify-content: center;
}

#menu li {
	margin: 8px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;

  font-size: 1rem;

}

.button {
  display: inline-block;
  padding: 10px 14px;
  border: 1px solid black;
  text-decoration: none;
  font-size: 1em;
  line-height: 120%;

  background-color: rgba(255,255,255, 0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

  border-radius: 4px;

  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(255,255,255, 0.3);
  color: #FFF;
}

.navButton{
  position: fixed;
  height: 100vh;

  font-size: 6vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrowUp{
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: 5vh;
}

.arrowDown{
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: 5vh;
}

#social{
  color: black;
  font-size: 6vw;
}

#social i{
  margin: 3vw;
}

a:visited, a{
  color: #000;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 120px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 1vw;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: -35%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


#responsiveMenu, #topnav_hamburger_icon, #hidden, .hidden{
  display: none;
}

@media screen and (max-width: 600px) {
  .navButton{
    position: fixed;
    height: calc(100vh - 60px);
  
    font-size: 6vw;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tooltip .tooltiptext {
    font-size: 6vw;

  }
  #social{
    font-size: 12vw;
  }
  
  #social i{
    margin: 6vw;
  }

  .arrowUp{
    font-size: 12vw;
    position: absolute;
    top: 10vh;
    left: 44vw;
    margin: 0px;
  }
  
  .arrowDown{
    font-size: 12vw;
    position: absolute;
    bottom: 10vh;
    left: 44vw;
    margin: 0px;
  }

  #menu{
    display: none;
  }

  #responsiveMenu.open{
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
  }

  .responsiveButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 25vh;
    text-align: center;
    font-size: 2em;
  }

  h1 {
    font-size: 10vw;
    font-weight: bold;
    /* color: #fff; */
    margin: 0;
    padding: 0;
  }
  
  h2 {
    font-size: 5vw;
    /* color: #fff; */
    margin: 0;
    padding: 0;
  }

  .sectionText p{
    padding-left: 4vw;
    padding-right: 4vw;
  }

  #topnav_hamburger_icon {
    display    : block;
    position   : absolute;
    margin     : 16px;
    width      : 33px;
    height     : 28px;
    z-index    : 100;
    user-select: none;
    cursor     : pointer;
  }

  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
      display      : block;
      position     : absolute;
      height       : 4px;
      width        : 100%;
      margin-bottom: 5px;
      background   : #ededed;
      border-radius: 3px;
      z-index      : 100;
      opacity      : 1;
      left         : 0;
      transform : rotate(0deg);
      transition: .25s ease-in-out;
  }

  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
      top: 0px;
      transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
      top: 12px;
      transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
      top: 24px;
      transform-origin: left bottom;
  }

  /* the first span rotates 45° \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
      width: 110%;
      transform: rotate(45deg);
  }
  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
  }
  /* the last span rotates -45° / */
  #topnav_hamburger_icon.open span:nth-child(3) {
      width: 110%;
      transform: rotate(-45deg);
  }
}
